* {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #393939;
}

/*Index.html*/

/*Logo*/

.logo {
    float: left;
    margin-left: 20px;
}

.logo,
#navigation {
    height: 100px;
    color: #34d0ba;
}

/*navigation*/

#navigation li {
    list-style-type: none;
    letter-spacing: 2px;
    margin-right: 20px;
    float: right;
}

#navigation a {
    color: #34d0ba;
    text-decoration: none;
}

#navigation h2:hover {
    border-bottom: 3px solid #34d0ba;
}

.active h2 {
    border-bottom: 3px solid #34d0ba;
}

/*Welcome image*/

#welcome-outer {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: auto;
    clear: both;
}

#welcome-img {
    height: 100%;
    width: 100%;
    background: url(../media/roof2.jpg) no-repeat center center;
}

/* Intro */
#intro-container {
    background-color: #393939;
    height: 323px;
    display: inline-block;
    padding: 20px;
}

#intro {
    height: 300px;
    width: 65%;
    border: 3px solid #34d0ba;
    float: left;
    background-color: #393939;
}

#intro h2 {
    color: #34d0ba;
    margin-left: 30px;
}

#intro p {
    text-align: center;
    color: #E9DFB7;
}

#intro-img-container {
    width: auto;
    height: 300px;
    padding: 1px;
    float: right;
    background-color: #393939;
}

#intro-img {
    height: 300px;
    width: auto;
    border: 3px solid #34d0ba;
}

/*landscape image*/

#roof2-container {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    clear: both;
}

#roof2-img {
    height: 100%;
    width: 100%;
    background: url(../media/roof.jpg) no-repeat center center fixed;
}

/*Footer*/
.footer {
    height: 120px;
    display: inline;
    clear: both;
}

.footer-container {
    margin: 0, 20px;
    width: 25%;
    height: 150px;
    display: inline;
}

/* Socials */

#socials {
    float: left;
    margin-top: 30px;
}

.footer-container li {
    display: inline;
    width: 25%;
}

.footer-container i {
    color: #E9DFB7;
    font-size: 50px;
    width: 24%;
    clear: both;
    text-align: center;
}

/*Certifications*/
#certifications {
    margin: 0 auto;
    text-align: center;
    height: 50%;
    margin-top: 40px;
    display: inline;
    clear: both;
}

/*Contact*/
#contact {
    float: right;
    text-align: center;
}

#contact h2 {
    color: #34d0ba;
}

#contact p {
    color: #E9DFB7;
}



/*our_services.html*/

/*extension img*/
#extension-outer {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: auto;
    clear: both;
}

#extension-img {
    height: 100%;
    width: 100%;
    background: url(../media/extension.jpg) no-repeat center center;
}

/*Other Services*/
.services {
    height: 300px;
    padding: 20px;
}

.serv-text {
    width: 25%;
    border: 3px solid #34d0ba;
    height: 100%;
    padding: 3px;
}

.services h2 {
    color: #34d0ba;
    margin-left: 20px;
}

.services li {
    color: #E9DFB7;
    margin-left: 20px;
}

.serv-img-container {
    height: 100%;
    background-color: #393939;
    border: 3px solid #34d0ba;
    padding: 3px;
    max-width: max-content;
}

.services img {
    height: 100%;
    width: auto;
}

#serv-text-1,
#serv-img-2 {
    float: left;
}

#serv-text-2,
#serv-img-1 {
    float: right;
}

/*Gallery*/
.gallery {
    width: 95%;
    height: 500px;
    border: 3px solid #34d0ba;
    margin: 10px 20px 50px;
    padding: 5px;
    overflow: auto;
    white-space: nowrap;
}

.gallery img {
    height: 458px;
    margin: 8px;
    border: 2px solid #E9DFB7;
}

.gallery-container h2 {
    margin-left: 20px;
    color: #E9DFB7;
}

/*Form*/
.form-container {
    clear: left;
    float: left;
    width: 100%;
}

form label {
    color: #E9DFB7;
    float: left;
}

.text-input {
    color: #E9DFB7;
    width: 40%;
    border: 2px solid #E9DFB7;
    float: left;
}

form legend {
    color: #E9DFB7;
}

#details-container {
    border: 4px solid #34d0ba;
    margin: 20px;
    padding: 10px;
    height: 200px;
    width: 50%;
}

#details-container label {
    margin-left: 5px;
}

#details-container input {
    width: 45%;
}

#details-container select {
    display: inline-block;
}

#title,
#gender {
    color: #E9DFB7;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #E9DFB7;
}

#address-container {
    border: 4px solid #34d0ba;
    margin: 20px;
    padding: 10px;
    height: 150px;
}

#address-container input {
    width: 60%;
    float: right;
}

#services-container {
    border: 4px solid #34d0ba;
    margin: 20px;
    padding: 10px;
    height: 150px;
}

/*at 1200 px, do smaller screen layout*/