* {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #393939;
}

/* Header */

.header {
    background-color: #393939;
    height: 100px;
}

/*Logo*/

.logo {
    float: left;
    margin-left: 20px;
}

.logo,
#nav {
    line-height: 100px;
    color: #34d0ba;
}

/*navigation*/

#nav li {
    list-style-type: none;
    letter-spacing: 2px;
    margin-right: 20px;
    float: right;
}

#nav a {
    text-decoration: none;
    color: #34d0ba;
}

#nav a:hover {
    border-bottom: 1px solid #34d0ba;
}

.active {
    border-bottom: 1px solid #34d0ba;
}

#welcome-outer {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: auto;
    clear: both;
}

#welcome-img {
    height: 100%;
    width: 100%;
    background: url(../media/roof2.jpg) no-repeat center center;
}

/* Intro */
#intro-container {
    background-color: #393939;
    height: 323px;
}

#intro {
    height: 300px;
    width: 47%;
    margin: 10px 7.5px 10px 15px;
    border: 3px solid #34d0ba;
    float: left;
    background-color: #393939;
}

#intro h2 {
    color: #34d0ba;
    margin-left: 30px;
}

#intro p {
    text-align: center;
    color: #E9DFB7;
}

#intro-img-container {
    width: 47%;
    height: 300px;
    border: 3px solid #34d0ba;
    padding: 1px;
    margin: 10px 15px 10px 7.5px;
    float: right;
    background-color: #393939;
}

#intro-img {
    height: 300px;
    width: 100%;
}

#extension-container {
    height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;
    clear: both;
}

#extension-img {
    height: 100%;
    width: 100%;
    background: url(../media/roof.jpg) no-repeat center center fixed;
}