* {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #393939;
}

/*Index.html*/

/*Logo*/

.logo {
    float: left;
    margin-left: 20px;
}

.logo,
#navigation {
    height: 100px;
    color: #34d0ba;
}

/*navigation*/

#navigation li {
    list-style-type: none;
    letter-spacing: 2px;
    margin-right: 20px;
    float: right;
}

#navigation a {
    color: #34d0ba;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 3px solid #34d0ba;
}

.active h2 {
    border-bottom: 3px solid #34d0ba;
}

/*Welcome image*/

#welcome-outer {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: auto;
    clear: both;
}

#welcome-img {
    height: 100%;
    width: 100%;
    background: url(../media/roof2.jpg) no-repeat center center;
}

/* Intro */
#intro-container {
    background-color: #393939;
    height: 323px;
}

#intro {
    height: 300px;
    width: 47%;
    margin: 10px 7.5px 10px 15px;
    border: 3px solid #34d0ba;
    float: left;
    background-color: #393939;
}

#intro h2 {
    color: #34d0ba;
    margin-left: 30px;
}

#intro p {
    text-align: center;
    color: #E9DFB7;
}

#intro-img-container {
    width: 47%;
    height: 300px;
    border: 3px solid #34d0ba;
    padding: 1px;
    margin: 10px 15px 10px 7.5px;
    float: right;
    background-color: #393939;
}

#intro-img {
    height: 300px;
    width: 100%;
}

/*landscape image*/

#roof2-container {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    clear: both;
}

#roof2-img {
    height: 100%;
    width: 100%;
    background: url(../media/roof.jpg) no-repeat center center fixed;
}

/*Footer*/
.footer {
    height: 120px;
    display: inline;
}

.footer-container {
    margin: 0, 20px;
    width: 30%;
    height: 150px;
}

/* Socials */

#socials {
    float: left;
    margin-top: 30px;
}

.footer-container li {
    display: inline;
    width: 25%;
}

.footer-container i {
    color: #E9DFB7;
    font-size: 50px;
    width: 24%;
    clear: both;
    text-align: center;
}

/*Certifications*/
#certifications {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    margin-top: 40px;
}

#certifications img {
    padding: 1px;
    border: 2px solid #34d0ba;
}

/*Contact*/
#contact {
    float: right;
    text-align: center;
}

#contact h2 {
    color: #34d0ba;
}

#contact p {
    color: #E9DFB7;
}



/*our_services.html*/

/*extension img*/
#extension-outer {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: auto;
    clear: both;
}

#extension-img {
    height: 100%;
    width: 100%;
    background: url(../media/extension.jpg) no-repeat center center;
}

/*Other Services*/
.services {
    height: 300px;
    width: 47%;
    margin: 10px 7.5px 10px 15px;
    border: 3px solid #34d0ba;
    float: left;
    background-color: #393939;
}

.services h2 {
    color: #34d0ba;
}

.services p {
    color: #34d0ba;
}